.settings-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .nes-container {
    .nes-text.title {
      .nes-logo {
        margin-top: -16px;
        margin-bottom: 16px;
      }
    }

    .nes-field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      input[type='number'] {
        width: 25%;
      }

      .nes-radio-container {
        display: flex;
        align-items: center;

        .nes-radio-label {
          display: flex;
          align-items: center;
          &:not(:first-child) {
            padding-left: 12px;
          }
        }

        .nes-radio:checked + span::before {
          top: 2px;
        }
      }
    }

    .nes-dialog {
      .dialog-menu {
        padding: 0;
        margin-top: 16px;

        .nes-btn {
          margin: 8px 12px 0 12px;
        }
      }
    }
  }
}
