@import '../../styles/main.scss';

.app-header {
    background-color: $secondary-color;
    min-height: 50px;

    display: flex;
    align-items: center;

    padding-left: 24px;

    &-link {
        color: $primary-color;

        transition: all 0.3s ease;

        &:hover {
            color: $vibrant-color;
        }
    }
}